$projectColor1: #a8cf45; //#A7CD44; -> verde
$projectColor2: #0a858d; //#08828A; -> azul
$projectColor3: #f1f1f2; //#f1f1f2; -> gris
$projectColor4: #424242; //#f1f1f2; -> negro

/***** Ref size material design */

/*new colors*/
$borderColor: #eeeeee;
$hoverColor: #eeeeee;
$colorText: #5f6368;
$colorIcon: #5f6368;
$colorIconHover: $projectColor2;

$buttonHover: $projectColor2;

/* new color background tables an contens*/
$background: #ffff;
$backgroundHover: #f8f8f8;

$background2: #fafafa;
$background2Hover: #eeeeee;

/*vars*/
/* menu apand */
$menusize: 190px;
$menusizeSmall: 40px;

/** ref size material design */
$padding: 15px;
$padding2: 10px;
$padding3: 5px;
$padding-y: 10px;
$padding-x: 10px;

/** iconos and elments*/
$sizeSMini: 14px;
$sizeSmall: 18px;
$sizeMedium: 24px;
$sizeLarge: 36px;
$sizeExtraL: 48px;

/** font text defaul */
$fontFamily: 'Open Sans';
$fontSize: 12px;
