@import 'variables';

.page-proyecto_master_data {
	.sf_admin_list_records {
		.sf_admin_td_actions {
			.dropdown-modern {
				.btn.dropdown-toggle {
					color: $projectColor2;
					margin-right: 3px;
					font-size: 12pt;
				}
			}
			.btn {
				height: 30px;
			}
		}
	}
}

.table {
	.sf_admin_td_actions {
		.btn {
			height: 30px;
		}
	}
	.dropdown-modern {
		.btn.dropdown-toggle {
			font-size: 12pt;
		}
	}
}

.sf_admin_list_action.win-command {
	padding-top: 7px;
	font-size: 12px;
	float: right;
	margin-top: -24px;
	color: $projectColor2;
	span {
		&.icon-moon-reply-2 {
			&:before {
				content: '\f104';
				font-family: Icons;
			}
		}
	}
}

/********cambio del select,  Nota: el componente select no se puede cambia por ser nativo de navegador.**/
select > option {
	padding: 5px 10px !important;
	border: 0 solid $borderColor;
	background: $background;
	color: $colorText;
}

select option:hover {
	background: $background3Hover;
	color: $colorText;
}

select > option:hover {
	background: $background3Hover;
	color: $colorText;
	cursor: pointer;
}

select:focus > option:checked {
	background: $background3Hover;
	color: $colorText;
}

/***********************************************
App global
***********************************************/
#tabs .tab-nav {
	height: 30px;
	margin: 0 5px 10px 5px;
	padding: 0;
}
