@import 'variables';
$tablistName: 'visita' !default;

#main {
	.col-main {
		background: transparent !important;
		box-shadow: none !important;
		padding: 10px 15px 20px !important;
		width: 100%;
	}

	.info-paso {
		background: $background2;
		border: 0;
		font-size: $fontSize;
		margin: 0 0 10px 0;
		justify-content: space-around;
		padding: 5px 10px;
		min-height: 30px;
	}

	.editor-preview {
		font-weight: 500;
		font-size: $fontSize;
		line-height: 1.4;
		strong {
			&.editor-preview-title {
				font-weight: 600;
				border-left: 0;
				padding-left: 0;
			}
		}
	}

	.ui {
		&.menu {
			&.tabular {
				@extend .info-paso;
			}
		}

		&.table {
			&.table-visita-instrucciones {
				td {
					&.attachments {
						.attachments-icon {
							font-size: $sizeMedium;
						}
					}
				}
				.instruccion-row {
					&.odd {
						td {
							background-color: $background;
						}
					}
				}
			}
		}
	}

	##{$tablistName}-tabs,
	.ab-tabs {
		.ui.menu {
			&.tabular {
				.tab-nav-item {
					.label.visita-status {
						margin-left: .5em;
						padding: 0.5em .44em 0.2em .44em;
						display: inline-block;
						font-size: .9em;
						border-radius: .3em .3em 0 0;
					}
					i.icon,
					i.far,
					i.icons {
						font-size: $sizeSmall;
					}
				}
			}
			.active {
				&.item {
					color: $colorText;
					&:hover {
						color: $projectColor2;
					}
				}
			}
		}

		.ui.tab {
			padding: 0;
			border: 0;
		}
		.ui.menu.tabular {
			justify-content: inherit;
			position: relative;
			overflow: hidden;
			.tab-nav-item {
				@extend .info-paso;
				margin: 0;
				padding: .4em;
				min-height: auto;
				border: 0px solid $borderColor;
				background: transparent;
				border-radius: 4px 4px 0 0;
				/* max-width: 33.5%; */
				/* width: 33.5%!important;*/
				&:hover {
					background: $background2Hover;
					border-bottom: 2px solid $borderColor;
				}

				&.tab-add {
					right: 50px;
				}
				&.active {
					border-bottom: 2px solid $projectColor2;
				}
				&.tab-add {
					right: 5px;
					background: $background2;
					border: 0;
					margin: 0;
					width: 30px;
					position: absolute;
					height: 100%;
				}
			}
		}
	}

	.ui.menu.visita-sidebar {
		& > .menu {
			& > .item {
				padding: 9px 0;
				margin: 0 0 0;
				&.badged {
					padding: 10px 0;
					margin: 10px 0 0;
					.label {
						right: 35%;
						top: -0.1em;
					}
				}
				img.ui.image {
					width: $sizeMedium + 1;
					height: $sizeMedium + 1;
					margin: 0 auto;
				}
			}
		}
	}

	.container-checkbox {
		input {
			&:checked ~ .checkmark {
				background-color: $projectColor1;
			}
			&:checked ~ .checkmark:after {
				display: block;
			}
		}
		.checkmark {
			height: $sizeSmall;
			width: $sizeSmall;
			border-radius: 2px;
			&:after {
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	i.large.large.large.icon,
	i.large.large.large.icons {
		font-size: 20px;
	}

	.sidebar-fixed-content {
		&.ui {
			&.vertical {
				&.menu {
					width: 32rem;
					padding: 10px;
				}
			}
		}
		> header {
			.title {
				font-size: 14px;
				margin: 0;
				padding: 0 5px 0 5px;
				font-weight: 600;
				border-left: 0;
			}
		}
	}
}

.main-list {
	margin-top: 20px;
	overflow-y: auto;
	padding: 0 10px 0 0;

	.listitem {
		&.revision-listitem {
			border: 1px solid $borderColor;
			.header-item {
				border-bottom: 0;
				margin-bottom: 10px;
				background-color: $background2;
				padding: 5px 10px;
			}
			.title-h1 {
				vertical-align: text-top;
			}

			.author-info {
				> i {
					&.icon {
						&.user {
							margin-right: 5px;
							font-size: $sizeSmall;
						}
					}
				}
			}

			.author-info,
			.modal-muestreo {
				#welcometip {
					#welcometip-body {
						p {
							margin: $padding2 0;
							min-height: $sizeSmall;
							vertical-align: middle;
							display: list-item;
						}
					}
				}
				.math-equation table td {
					border: 1px solid $borderColor;
				}
			}
		}
		.sf_admin_td_actions {
			margin-left: 5px;
			margin-top: 5px;
		}
	}
}

#visita-tabs .ui.menu.tabular .tab-nav-item .tabname,
.ab-tabs .ui.menu.tabular .tab-nav-item .tabname {
	vertical-align: text-bottom;
}
