@import 'variables';

#main {
	.col-main {
		background: transparent !important;
		box-shadow: none !important;
		padding: $padding2 $padding 20px !important;
		width: 100%;
	}

	.info-paso {
		background: $background2;
		border: 0;
		font-size: $fontSize;
		margin: 0 0 $padding2 0;
		justify-content: space-around;
		padding: $padding3 $padding2;
		min-height: 30px;
	}

	.editor-preview {
		font-weight: 500;
		font-size: $fontSize;
		line-height: 1.4;
		strong {
			&.editor-preview-title {
				font-weight: 600;
				border-left: 0;
				padding-left: 0;
			}
		}
	}

	.ui {
		&.menu {
			&.tabular {
				@extend .info-paso;
			}
		}

		&.table {
			&.table-visita-instrucciones {
				td {
					&.attachments {
						.attachments-icon {
							font-size: $sizeMedium;
						}
					}
				}
				.instruccion-row {
					&.odd {
						td {
							background-color: $background;
						}
					}
				}
				.ui.selection.instruccion-action {
					min-width: 10em;
				}
			}
		}
	}

	.container-checkbox {
		input {
			&:checked ~ .checkmark {
				background-color: $projectColor1;
			}
			&:checked ~ .checkmark:after {
				display: block;
			}
		}
		.checkmark {
			height: $sizeSmall;
			width: $sizeSmall;
			border-radius: 2px;
			&:after {
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	i.large.large.large.icon,
	i.large.large.large.icons {
		font-size: 20px;
	}

	.sidebar-fixed-content {
		&.ui {
			&.vertical {
				&.menu {
					width: 32rem;
					padding: $padding2;
				}
			}
		}
		> header {
			.title {
				font-size: 14px;
				margin: 0;
				padding: 0 $padding3 0 $padding3;
				font-weight: 600;
				border-left: 0;
			}
		}
	}
}

.main-list {
	margin-top: 20px;
	overflow-y: auto;
	padding: 0 $padding2 0 0;

	.listitem {
		&.revision-listitem {
			border: 1px solid $borderColor;
			.header-item {
				border-bottom: 0;
				margin-bottom: $padding2;
				background-color: $background2;
				padding: $padding3 $padding2;
			}
			.title-h1 {
				vertical-align: text-top;
			}

			.author-info {
				> i {
					&.icon {
						&.user {
							margin-right: $padding3;
							font-size: $sizeSmall;
						}
					}
				}
			}

			.author-info,
			.modal-muestreo {
				#welcometip {
					#welcometip-body {
						p {
							margin: $padding2 0;
							min-height: $sizeSmall;
							vertical-align: middle;
							display: list-item;
						}
					}
				}
				.math-equation table td {
					border: 1px solid $borderColor;
				}
			}
		}
		.sf_admin_td_actions {
			margin-left: $padding3;
			margin-top: $padding3;
		}
	}
}

#visita-tabs .ui.menu.tabular .tab-nav-item .tabname,
.ab-tabs .ui.menu.tabular .tab-nav-item .tabname {
	vertical-align: text-bottom;
}
