@import 'variables';
//@import 'breadcrum.less';
//@import 'tabs.less';
//@import 'alert.less';
//@import 'iconsvg.less';

@mixin icon-size($size) {
	&.icon,
	&.icons,
	&.far,
	&.fas {
		font-size: $size;
		width: $size + 5;
		height: $size;
		text-align: center;
		float: none;
		margin: 0;
	}
}

i.big.big.big,
i.big.big.big {
	line-height: 1;
	vertical-align: middle;
	font-size: 2em;
}

.button {
	font-size: 1rem;
	border-radius: 4px;
	padding: $padding10 20px;
}

.buttons {
	@extend .button;
	background-color: $projectColor2;
	color: #fff;
	text-shadow: none;
	background-image: none;
	&:hover {
		background: $projectColor1;
		color: #fff;
	}
}

.btn-primary {
	@extend .buttons;
}

.btn-danger {
	@extend .button;
}

.btn {
	&.btn-danger {
		background-color: #da4f49;
		@extend .button;
	}
	&.btn {
		@extend .buttons;
	}
}

#main {
	/*** Estandariza font:12 para el previw editor en el sistema*/
	#root {
		.editor-preview {
			font-weight: 500;
			font-size: $fontSize;
			line-height: 1.4;
		}
	}
	.cke_chrome {
		box-shadow: 0 0 0 0;
	}
}

.ui {
	/*** Estandariza botones para todo el sistema*/
	&.button,
	&.buttons .button,
	&.buttons .or {
		@extend .button;
	}

	&.tiny.buttons .button,
	&.tiny.buttons .or,
	&.ui.ui.ui.tiny.button {
		@extend .button;
	}

	&.primary {
		&.button,
		&.buttons .button {
			@extend .buttons;
		}
	}

	&.positive.button,
	&.positive.buttons .button {
		@extend .buttons;
	}

	&.vertical {
		&.menu {
			box-shadow: 0 0 0 0;
			-webkit-box-shadow: 0 0 0;
		}
	}

	/*** cambio el fondo del modal*/
	&.modals {
		&.inverted {
			&.dimmer {
				background-color: rgba(0, 0, 0, .5);
				> .ui {
					.modal {
						-webkit-box-shadow: 0 0 0 0;
						box-shadow: 0 0 0 0;
					}
				}
			}
		}
	}

	&.modal > .close,
	&.inverted.dimmer > .modal > .close {
		background: #444;
		height: 35px;
		width: 35px;
		text-shadow: 0 0 0;
		opacity: initial;
		color: #fff;
		border-radius: 30px;
		right: -1.5rem;
		top: -1.5rem;
		padding: 0;
		vertical-align: middle;
		line-height: 2em;
	}

	.green {
		&.button:hover,
		&.buttons .button:hover {
			background-color: $projectColor1;
		}
	}

	/*** customiza la tabla de semantic dejando la estelizada*/
	&.table {
		width: 100%;
		background: #fff;
		margin: 1em 0;
		border: 1px solid $borderColor;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
		text-align: left;
		vertical-align: middle;
		color: #333;
		border-collapse: separate;
		border-spacing: 0;
	}

	/*** menu derecho del mismo tamaño del izquierdo*/
	&.compact {
		&.vertical {
			&.menu {
				width: $menusizeSmall !important;
			}
			.item {
				i {
					&.icons {
						font-size: $sizeMedium;
						width: $sizeMedium + 5;
						height: $sizeMedium;
						text-align: center;
						float: none;
						margin: 0;
					}
				}
				&.icon {
					i {
						@include icon-size($sizeMedium);
						&:hover {
							color: $projectColor2;
						}
					}
				}
			}
		}
	}
	&.tabular {
		&.menu {
			.item {
				&.tab-add {
					color: #5f6368;
					&:hover {
						color: $projectColor2;
					}
				}
			}
		}
	}

	&.raised.raised.segment,
	&.raised.raised.segments {
		box-shadow: 0 0 0 0;
		border: 1px solid $borderColor;
	}

	&.green.progress .bar,
	&.indeterminate.green.progress .bar::before,
	&.progress .green.bar {
		background-color: $projectColor1;
	}

	/**** cambio la fuente del  menu del contenido */
	&.menu p {
		font-size: $fontSize;
		font-family: $fontFamily;
		line-height: 1.4em;
	}
}

.ab-actions-group.compact-actions {
	.ui.button.compact {
		@extend .button;
	}
}
.ab-status-actions {
	.ui.button.compact.icon {
		@extend .button;
	}
}

i.small.small.small.icon,
i.small.small.small.icons {
	line-height: 1;
	font-size: $sizeSMini;
}

.author-icon-log.small {
	.lb {
		font-size: 9px;
	}
}

i.icon,
i.icons {
	font-size: $sizeSmall;
}

.modal-ab {
	.header,
	.modal-header {
		background-image: none;
		font-family: $fontFamily;
		text-align: center;
		font-weight: 500;
	}
}

.ui.modal {
	border: 1px solid #777;
	border-radius: 4px;
	box-shadow: 0 0 0;

	> .content {
		font-size: $fontSize;
		line-height: 1.4;
		border-radius: 4px;
		padding: $padding15;
		.grid {
			&.padded {
				.column {
					&.four {
						padding-left: 5px;
						padding-right: 5px;
					}
				}
			}
		}
	}
	&.modal-sidebarmenuitem {
		.editor-preview {
			font-size: $fontSize;
			line-height: 1.4;
		}
	}
	.actions {
		> .button {
			margin-left: 0;
		}
	}

	&.modal-ab {
		.step-content {
			.header {
				text-align: left;
				font-weight: 500;
			}
		}
	}

	p:first-child {
		font-size: 14px;
	}

	.ui.segment {
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
		margin: $padding10 0;
		padding: 0;
		border: 1px solid $borderColor;
		border-radius: 5px;
	}

	.cke_chrome {
		box-shadow: 0 0 0 0;
	}

	.header {
		background-image: none;
		font-family: $fontFamily;
	}

	&.modal-ab {
		@extend .modal-ab;
	}
}

.ui.steps {
	.step {
		padding: 10px;
		.title {
			font-weight: 600;
			font-size: $fontSize4;
			font-family: $fontFamily;
			color: $colorText;
		}
		&.active {
			background: $background3;
			.title {
				color: $projectColor2;
			}
		}
	}
}

.ui.form {
	.field > label {
		font-size: $fontSize2;
	}
	.field .ui.input input,
	.ui.form .fields .field .ui.input input {
		width: auto;
		box-shadow: 0 0 0;
		border: 1px solid $borderColor;
		background-color: $background2;
	}
}
.rdl-move {
	margin-bottom: 5px;
	border: 1px solid $borderColor;
	border-radius: 4px;
	color: $colorText;
	padding: 3px 5px;
}

.ui.dimmer {
	background-color: rgba(0, 0, 0, .65);
}

/*********************** Not format *****************************/

.ui[class*="right floated"].button,
.ui[class*="right floated"].buttons {
	margin-left: .5em;
}

.ui.form select {
	padding: 0;
}

.ui.modal {
	.ui.form .ui.grid > .relaxed.row > .column,
	.ui.relaxed.grid > .column:not(.row),
	.ui.relaxed.grid > .row > .column {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0;
	}

	.ui.grid > .column:not(.row),
	.ui.grid > .row > .column {
		padding-left: 15px;
		padding-right: 15px;
	}

	.ui.column.grid > [class*="ten wide"].column,
	.ui.grid > .column.row > [class*="ten wide"].column,
	.ui.grid > .row > [class*="ten wide"].column,
	.ui.grid > [class*="ten wide"].column {
		width: 100% !important;
	}

	.ui.relaxed.grid {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.ui.ordered.steps .step.completed:before,
.ui.steps .step.completed > .icon:before {
	color: $projectColor1;
}
