@import 'variables';

.ui.tiny.modal {
	max-width: 500px;
}

.ui.modal > .content {
	padding: 20px;
}

#main .col-main {
	box-shadow: 0 0 0;
}

#main,
#page {
	border: 0;
	padding: 0;
}

form {
	max-width: 500px;
	margin: auto;
	border: 1px solid #eee;
	padding: 15px 15px 45px 15px;
	label {
		margin-bottom: 10px;
		width: 100%;
		height: auto;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		line-height: 2.4em;
		&.label-select {
			select,
			input {
				max-width: 200px;
				border: 1px solid #eeeeee;
				float: right;
				margin: 0;
			}
		}

		.MuiAutocomplete-root {
			float: right;
		}
	}

	input[type=text],
	select {
		float: right;
	}

	.error {
		text-align: right;
		float: right;
		width: 100%;
		font-size: 10px;
		text-transform: capitalize;
		color: red;
		border-bottom: 1px solid;
		line-height: 1.4em;
	}

	.message {
		text-align: right;
		color: $projectColor2;
	}
}
.css-2b097c-container {
	position: relative;
	box-sizing: border-box;
	width: 200px;
	float: right;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
	padding: 0;
	height: 30px;
	border-radius: 3px;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
	padding: 8px;
	border: 0;
}

.MuiAutocomplete-clearIndicator {
	display: none;
}

.MuiAutocomplete-popupIndicator {
	color: rgba(0, 0, 0, 0.54);
}

.form-normal {
	input {
		width: 220px;
	}
}
