@import 'variables';
@import 'proyecto_hoja_trabajo_base';

.hoja-trabajo-objetivo .editor-preview.objetivo-text-editor .editor-preview-title {
  border-left: none;
}

.hoja-trabajo-objetivo .editor-preview-wrapper {
  min-height: 0;
}

#visita-tabs.paso-periodo {
  .tab-nav-item {
    display: inline-block;
  }
}

.ui.table.table-visita-instrucciones {
  margin-top: 0.5em;

  thead tr {
    background-color: #ffffff;
  }

  tbody td:first-child::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    min-height: 70px;
  }

  tbody .macroinstruccion-row td:first-child::after {
    min-height: 0;
  }

  th {
    text-align: center;
    background-color: #ffffff;
    padding-top: 0.628571em;
    padding-bottom: 0.628571em;
  }

  .th-adjuntos {
    padding-right: 0;
    padding-left: 0;
  }

  .th-actions {
    min-width: 45px;
    padding-right: 0;
    padding-left: 0;
  }

  .macroinstruccion-row {
    background-color: #ddd;
    font-weight: 400;
  }
  .instruccion-row {
    min-height: 70px;

    &.odd td {
      background-color: #fafafa;
    }
  }

  .ui.selection.instruccion-action {
    min-width: 7em;
  }

  .instruction-text {
    font-size: 13px;
  }

  .observations-text {
    font-size: 13px;
    .editor-preview-wrapper {
      min-height: 70px;
    }
  }

  .instruction-iteration {
    font-weight: 600;
  }

  .drag-icon {
    margin-left: -5px;
    display: none;
  }

  .hoverable-actions:hover .drag-icon {
    display: block;
  }

  td.attachments {
    min-height: 40px;
    a.btn-attach {
      position: absolute;
      .ui.floating.label {
        z-index: 1;
      }
    }
    .attachments-icon {
      font-size: 2.5em;
      color: #797979;
      line-height: 1em;
    }
  }

  .sort-handler {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }
  }

  tr.dragging td {
    border-top: 2px dotted #52b218;
    border-bottom: 2px dotted #52b218;
    &:first-child {
      border-left: 2px dotted #52b218;
    }
    &:last-child {
      border-right: 2px dotted #52b218;
    }
  }
}

.table {
  .td-chk {
    width: 30px;
  }
}

/* custom checkbox */

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 18px;
  margin-bottom: 0;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: #2daf1d;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 2px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
}

/* attachment */

.btn-attachment {
  position: relative;
  width: 33px;
  margin: auto;
  .badge {
    position: absolute;
    right: -3px;
    top: -9px;
    background: #008086;
    padding: 2px 6px;
  }
  [class^="iconsvg-"],
  [class*="iconsvg-"] {
    width: 30px;
    height: 30px;
  }
}

#attachmentlist {
  padding: 15px 0;
  margin: 0;
}

@media (max-width: 768px) {
  .ui.table.table-visita-instrucciones .hoverable-actions:hover .drag-icon.sort-handler {
    display: none;
  }

  .ui.table.table-visita-instrucciones .hoverable-actions:hover .action-list {
    display: none;
  }

  .ui.table.table-visita-instrucciones tbody td,
  .ui.table.table-visita-instrucciones thead th {
    border-bottom: 0.01em solid rgba(34, 36, 38, .5) !important;
  }
}

@import 'proyecto_sidebar';
