@import 'variables';
@import 'proyecto_hoja_trabajo_base';

$widthInnerBody: 97%;

.ui.grid.compact > .column {
  padding: 1px;
}

#materialidadformwrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;

  .footer-actions {
    width: $widthInnerBody;
    margin-right: auto;
    margin-left: auto;
  }

  .hoja-trabajo-objetivo {
    width: $widthInnerBody;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    .editor-preview {
      font-size: 12px;
    }
  }
}

#materialidadform {
  margin-top: 20px;
  .field {
    .selection.dropdown,
    input {
      width: auto;
    }

    .selection.dropdown {
      min-width: 160px;
    }

    input.currency {
      text-align: right;
    }
  }

  .fields {
    margin-bottom: 45px;
    width: $widthInnerBody;
    margin-right: auto;
    margin-left: auto;

    &:last-child {
      margin-bottom: 20px;
    }

    .fieldl {
      text-align: left;
    }

    .fieldr {
      text-align: right;
    }
  }

  .box-input {
    display: inline-block;
    position: static;
  }

  .box-input-inner {
    background-color: #ebebeb;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    height: 39px;
    padding: {
      right: 4px;
      left: 4px;
    }

    label {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 600;
      color: rgba(0, 0, 0, .87);
      margin-right: 5px;
      margin-top: 9px;
    }

    input.percent {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 9px;
      text-align: right;
    }
    .autonumeric.value {
      background: white;
      padding: 0 2px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .box-total {
    display: inline-block;
    position: static;

    .box-content {
      padding: 5px;
      margin-left: 2px;
      background-color: $projectColor2;
      color: white;
      border-radius: 4px;
      height: 39px;
    }

    .box-inner {
      text-align: right;
      .title {
        font-size: 10px;
        font-weight: 600;
        line-height: 1;
      }
      .value {
        font-weight: 600;
        line-height: 1em;
        font-size: 19px;
        white-space: nowrap;
      }
    }

    .tooltip-icon {
      float: right;
    }
  }

  #segment-materialidad-observaciones {
    min-height: 120px;
    margin: auto;
    text-align: left;
    width: 100%;

    label {
      border-left: 2px solid $projectColor2;
      padding-left: 5px;
    }

    .editor-preview-wrapper {
      min-height: 60px;
    }
    .editor-preview {
      font-weight: 300;
      margin-top: 5px;
    }
  }

  .error #segment-materialidad-observaciones {
    background-color: #fff7f7;
  }
}

#materialidad-percent-table {
  font-size: 13px;
  thead {
    tr.th1 th {
      background-color: white;
      color: $projectColor2;
      font-weight: 700;
      text-align: center;
    }
    tr.th2 th {
      background-color: #efefef;
      color: #333;
      font-weight: 600;
      text-align: center;
    }
  }
  tbody {
    input {
      margin-bottom: 0;
      text-align: right;
    }
    td,
    th {
      vertical-align: middle;
    }
    th {
      font-weight: 600;
    }
    .td-nivel {
      text-align: center;
    }

    tr.selected td,
    tr.selected th,
    td.selected {
      background-color: #eef1e7;
    }
    tr.selected td.selected {
      border: 2px solid #bad088;
      font-weight: 600;
    }
    tr.selected td.selected input {
      font-weight: 600;
    }
  }
}

@import 'proyecto_sidebar';
